body,
html {
    width: 100%;
    height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
nav.custom-nav {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

header {
background: url("https://github.com/christensenmichael0/christensenmichael0.github.io/blob/master/img/boat_hull.JPG?raw=true") no-repeat left bottom;
background-size: cover;
}

.intro-header-block {
    color: black;
    text-align: center;
    /*border-radius: 150px;*/
    /*border: 2px solid black;*/
    /*background: url("https://github.com/christensenmichael0/christensenmichael0.github.io/blob/master/img/boat_hull.JPG?raw=true") no-repeat center bottom;*/
    /*background-size: cover;*/
    
    padding: 100px 0;
    min-height: 600px;
}

.personal-box {
    margin: auto;
}
#me-brand {
    color: #fff;
    font-size: 5rem;
    line-height: 5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#me-heading {
    color: #fff;
    font-size: 3rem;
    margin: 15px 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
ul.list-inline.intro-social-buttons {
    margin: 10px auto;
    padding: 4px;
}
.intro-social-buttons li {
    margin: 3px 0px;
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}
.about-me {
    color: #333;
    margin-bottom: 0;
}
hr.intro-divider {
    border-top: 1px solid black;
}
#recent-tag {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

.my-img-responsive {
width: 100%;
height: auto;
margin: auto;
}

.preview-panel-content {
    margin-bottom: 25px;
}
ul.list-inline.project-buttons {
    margin: 0 auto;
}
.section-heading {
    margin-bottom: 30px;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

#hmi-ref {
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #101010;
}
footer .footer-connect {
    /*background-size: cover;*/
    
    padding: 10px 0;
    margin-top: 40px;
}
#connection {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.final-text-chunk {
    color: #9d9d9d;
    line-height: 1.5em;
    font-size: .75em;
    margin-top: 20px;
}
p.copyright {
    margin: 15px 0 0;
}